

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579;
}

body{
    --color-primary:#00856c;
    --color-primary-dark: #005747;
    --color-secondary:#252c6a;
    --color-error:#cc3333;
    --color-success:#4bb544;
    --border-radius: 4px;

    margin:0;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    background: url(./background.jpg);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    background-size: cover;
}

.form__title{
    margin-bottom: 2rem;
    text-align: center;
}

.container{
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background:white;
}

.container,
.form__input-login,
.form__input-signup
.form__button{
    font:500 1rem 'Quicksand', sans-serif;
}

.form--hidden{
    display: none;
}

.form > *:first-child{
    margin-top: 0;
}

.form > *:last-child{
    margin-bottom:0;
}

.form__message{
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success{
    color: var(--color-success);
}

.form__message--error{
    color: var(--color-error);
}

.form__input-group{
    margin-bottom: 1rem;
}

.form__input-login,
.form__input-signup{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background0.2s, border-color 0.2s;
}

.form__input:focus{
    border-color: var(--color-primary);
    background: white;
}

.form__input--error{
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button-login,
.form__button-signup{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
    border: none;
    border-radius: var(border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover{
    background: var(--color-primary-dark)
}

.form__text{
    text-align: center;
}

.form__link{
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover{
    text-decoration: underline;
}